@import url('../vendor/normalize.css');

:root {
  --basebg: linear-gradient(rgb(3, 26, 70), rgb(0, 66, 104)) no-repeat;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-fount-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.root {
  background: var(--basebg, rgb(30, 29, 36));
  font-family: 'Inter', sans-serif;
}

.countdown {
  border-radius: 5px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  min-width: 450px;
  height: 250px;
  color: rgb(183, 241, 255);
}

.title {
  margin: 0 auto 25px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.number-container {
  display: flex;
  justify-content: space-between;
}

.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 10px 10px 15px rgba(13, 31, 53, 0.575);
}

.number-border-anim {
  content: '';
  display: block;
  position: absolute;
  width: calc(150%);
  height: calc(150%);
  background: conic-gradient(transparent 220deg, rgb(26, 172, 209), transparent);
  animation: rotate 1s linear infinite;
}

#min {
  animation-duration: 30s;
}

#hour {
  animation-duration: 60s;
}

#day {
  animation-duration: 120s;
}

@keyframes rotate {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.number {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 30px;
  border-radius: 8%;
  width: 90px;
  height: 90px;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  color: rgb(183, 241, 255);
  background: var(--basebg, rgb(30, 29, 36));
  box-shadow: inset 0px 1px 5px rgba(4, 0, 36, 0.233);
  z-index: 2;
}  

.number-title {
  display: inline-block;
  font-size: 15px;
  margin: 0;
}